<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Colour Scheme
    #17252A
    #2B7A78
    #3AAFA9
    #DEF2F1
    #FEFFFF -->

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Deep Audiobook Tuner</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- icons/icon.pngs -->
  <link href="{{ url_for('static', filename='img/icons/icon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-right header-transparent">
    <div class="container d-flex justify-content-between align-items-right">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#home">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#process">Process</a></li>
          <li><a class="nav-link scrollto " href="#system">System</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= home section ======= -->
  <section id="home">
    <div class="home-container" data-aos="fade-up" data-aos-delay="100">
      <h1>
        <u>D</u>eep <u>A</u>udiobook <u>T</u>uner
      </h1>

      <p style="font-size: 20px;">
        Background Music generation for audiobooks based on predicted sentiments.
      </p>
      <a href="#about" class="btn-get-started">Learn More</a>
    </div>
  </section>
  <!-- End home section -->

  <main id="main">

    <!-- ======= About section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">About</h3>
          <!-- <p class="section-description"></p> -->
        </div>
        <div class="row about-container">
          <div class="col-lg-6 content order-lg-1 order-2">
            <p style="font-weight: 900;">
              Music plays a very important role in people’s lives. The music industry is worth $19 billion 
              however the average person doesn’t have a vast knowledge of music theory. This makes it 
              difficult for these people to come up with original and catchy melodies. Automating the 
              creative process of the human means that companies can get multimedia products faster and 
              cheaper. That is why music generators are such an important application of machine learning 
              techniques. With the development of deep learning, neural networks are increasingly used in 
              various art fields such as music, literature and pictures, and the artwork created can be even 
              comparable to humans. Using a deep neural network, we can train a model to generate new 
              melodies. Some of the different approaches that can be used to generate music using neural 
              networks are LSTMs, bidirectional RNN, etc. Using Principal Component Analysis, we can 
              adjust the component sliders to generate different melodies. This system has multiple 
              applications. For example, musicians can use this application to generate new songs using the 
              unique melodies that our system creates. In audiobooks, using sentiment analysis  we can 
              generate emotionally relevant background music. For our project, we will be focusing on 
              creating an application that can take the text of a book as the input and generate relevant 
              background music based on the predicted sentiment.
            </p>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
        </div>

      </div>
    </section>
    <!-- End About section -->
 
    <!-- ======= process section ======= -->
    <section id="process">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3 class="section-title">How the System Works?</h3>
          <p class="section-description" style="font-size: 18px; font-family: 'Work Sans', sans-serif; font-weight: 900; color: grey;">Following are the steps used in DAT's application</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
              <h4 class="title">Audio Segmentation</h4>
              <!-- <p class="description">Insert info</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="bi bi-fonts"></i></div>
              <h4 class="title">Transcription</h4>
              <!-- <p class="description">Insert info</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="bi bi-emoji-smile"></i></div>
              <h4 class="title">Audio and Text based sentiment analysis</h4>
              <!-- <p class="description">Insert info</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="bi bi-music-note-list"></i></div>
              <h4 class="title">Music Generation for every sentiment considered</h4>
              <!-- <p class="description">Insert info</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="bi bi-file-music"></i></div>
              <h4 class="title">Creating one background music file</h4>
              <!-- <p class="description">Insert info</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><i class="bi bi-music-player"></i></div>
              <h4 class="title">Combining the audiobook and background music</h4>
              <!-- <p class="description">Insert info</p> -->
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End process section -->

    <!-- ======= system section ======= -->
    <section id="system">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div class="col-lg-12 text-center">
            <h1 class="cta-title">System</h1>
            <p class="cta-text"> Use the system, see how DAT works.</p>
            <a class="cta-btn" href="{{ url_for('upload_file', _anchor='about') }}">Check it out</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End system section -->

    <!-- ======= Team section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description"></p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="{{ url_for('static', filename='img/Dan.jpg') }}" alt=""></div>
              <h4>Daniel Lobo</h4>
              <span style="font-size: 15px; font-family: 'Work Sans', sans-serif; font-weight: 900;">BE CMPN A - 06 | PID - 172028</span>
              <div class="social">
                <a href="mailto:danlobo1999@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                <a href="https://github.com/danlobo1999" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.instagram.com/xeptonix/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/daniellobo1999/"><i class="bi bi-linkedin" target="_blank"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic"><img src="{{ url_for('static', filename='img/Jen.jpg') }}" alt=""></div>
              <h4>Jenny Dcruz</h4>
              <span style="font-size: 15px; font-family: 'Work Sans', sans-serif; font-weight: 900;">BE CMPN A - 14 | PID - 172047</span>
              <div class="social">
                <a href="mailto:jendcruz23@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                <a href="https://github.com/jendcruz22" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.instagram.com/jennydcruz22/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/jennydcruz/"><i class="bi bi-linkedin" target="_blank"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="{{ url_for('static', filename='img/Smi.jpg') }}" alt=""></div>
              <h4>Smita Deulkar</h4>
              <span style="font-size: 15px; font-family: 'Work Sans', sans-serif; font-weight: 900;">BE CMPN A - 17 | PID - 172113</span>
              <div class="social">
                <a href="mailto:smitashobha1999@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                <a href="https://github.com/smita3199" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.instagram.com/smita_deulkar/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/smitadeulkar/"><i class="bi bi-linkedin" target="_blank"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="pic"><img src="{{ url_for('static', filename='img/Lder.jpg') }}" alt=""></div>
              <h4>Leander Fernandes</h4>
              <span style="font-size: 15px; font-family: 'Work Sans', sans-serif; font-weight: 900;">BE CMPN A - 18 | PID - 172061</span>
              <div class="social">
                <div class="social">
                  <a href="mailto:fernandeslder@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                  <a href="https://github.com/fernandeslder" target="_blank"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/lderfernandes/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/fernandeslder/"><i class="bi bi-linkedin" target="_blank"></i></a>
                </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Team section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>