# Environment variables
python-dotenv==0.15.0

# Dependencies
notebook
pandas==1.2.2

# Audio analysis/segmentation
librosa==0.8.0
numba==0.48
pydub==0.24.1
tensorflow==2.4.1
keras==2.4.3
seaborn==0.11.1
scikit-learn==0.23.2
keras-tuner==1.0.2

# Audio Transcription
ibm-watson==5.1.0
# deepspeech==0.6.0
# wave==0.0.2

# Text analysis 
ktrain==0.26.2
# text2emotion==0.0.5
# vaderSentiment==3.3.2
# nltk==3.5

# Music generation
ipyparallel
torch
fastai==1.0.61
music21==6.7.1
pebble==4.6.1
musicautobot==0.0.1
midi2audio==0.1.1
